<div class="row ng-scope">
	<div class="col-lg-12">
		<div class="page-header">
			<h2 class="text-primary">Result Analyzer</h2>
		</div>
	</div>
</div>
<div class="row ng-scope">
	<div class="col-lg-12 ng-scope" id="linechart1">
		<div class="form-group">
			<small><a type="button" data-toggle="modal"
				data-target="#myModal" class="btn btn-outline btn-primary btn-sm">Upload
					a Jmeter log file</a></small>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<i class="fa fa-times"></i>
						</button>
						<h4 class="modal-title" id="myModalLabel">Upload</h4>
					</div>
					<div class="modal-body">
						<form role="form" class="ng-pristine ng-valid">
							<div class="form-group">
								<div class="form-group">
									<input type="file" name="file"
										onchange="angular.element(this).scope().onFileSelect(this.files);">
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary"
							ng-click="addNewBuild()">Add</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<div class="form-group">
			<label>Select Performance API</label> <select class="form-control"
				ng-options="k as k for (k, v) in items"
				ng-change="onPerfApiSelect(selectedApi)" ng-model="selectedApi">
				<option value="">Please Select</option>
			</select>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Response Time Graph</div>
			<div class="panel-body" style='overflow-x: auto'>
				<div class="progress">
					<div id="widthProgressBar" class="progress-bar progress-bar-danger"
						role="progressbar" aria-valuenow="0" aria-valuemin="0"
						aria-valuemax="100">
						<span class="sr-only">50% Complete</span>
					</div>
				</div>
				<label>Increment Size (in px.)</label> <input type="text"
					ng-model="incrementSize">
				<button class="btn btn-success btn-circle btn-sm"
					ng-click="increaseWidth()">
					<i class="glyphicon-plus"></i>
				</button>
				<button class="btn btn-danger btn-circle btn-sm"
					ng-click="decreaseWidth()">
					<i class="glyphicon-minus"></i>
				</button>
				<div class="chart-container">
					<div id="lineGraph" style="width: 100%;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12 ng-scope" id="linechart2">
		<div class="panel panel-default">
			<div class="panel-heading">Perf run Pie chart</div>
			<div class="panel-body">
				<div class="chart-container" style='overflow-x: auto'>
					<div id="pieGraph"></div>
				</div>
			</div>
		</div>
	</div>
</div>