<div class="row ng-scope">
	<div class="col-lg-12">
		<div class="page-header">
			<h2 class="text-primary">Settings</h2>
		</div>
	</div>
</div>
<div class="row ng-scope">
	<div class="col-lg-12">
		<div class="well">
			<h4 style="text-align: center">
				<b>No Settings to Display</b>
			</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare
				lacus adipiscing, posuere lectus et, fringilla augue.Lorem ipsum
				dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt
				est vitae ultrices accumsan. Aliquam ornare lacus adipiscing,
				posuere lectus et, fringilla augue.Lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices
				accumsan. Aliquam ornare lacus adipiscing, posuere lectus et,
				fringilla augue.Lorem ipsum dolor sit amet, consectetur adipiscing
				elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam
				ornare lacus adipiscing, posuere lectus et, fringilla augue.Lorem
				ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
				tincidunt est vitae ultrices accumsan. Aliquam ornare lacus
				adipiscing, posuere lectus et, fringilla augue.</p>
		</div>
	</div>
</div>
