<div class="row ng-scope">
	<div class="col-lg-12">
		<div class="page-header">
			<h2 class="text-primary">Tutorial</h2>
		</div>
	</div>
</div>
<div class="row ng-scope">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>HOW TO CREATE A PROJECT</b> [Create a project to track all your
				product's performance runs. eg. Mobile Fabric]
			</div>
			<div class="panel-body">
				<img src="images/createProject.jpg" class="img-rounded"
					style="width: 100%; height: 600px;">
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>HOW TO CREATE A SCENARIO</b> [Create a new Scenario for your
				project. This could be the individual component of your product. As
				in, AuthService is a module for Mobile Fabric. eg. AuthService]
			</div>
			<div class="panel-body">
				<img src="images/createScenario.jpg" class="img-rounded"
					style="width: 100%; height: 600px;">
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>HOW TO CREATE A UPLOAD A BUILD</b> [Upload your jmeter log files
				to see the response time graphs.]
			</div>
			<div class="panel-body">
				<img src="images/uploadBuild.jpg" class="img-rounded"
					style="width: 100%; height: 600px;"> <img
					src="images/uploadedBuild.jpg" class="img-rounded"
					style="width: 100%; height: 200px;">
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>HOW TO CREATE AND VIEW GRAPHS</b> [Here we can see the response
				time vs timestamp for a particular jmeter log run. The requisite is
				to upload the log file in order for the server to generate the log
				file.]
			</div>
			<div class="panel-body">
				<img src="images/viewAreaGraph.jpg" class="img-rounded"
					style="width: 100%; height: 900px;"> <img
					src="images/PieChartGraph.jpg" class="img-rounded"
					style="width: 100%; height: 600px;">
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>HOW TO PUBLISH SERVER DATA</b> [This data for each scenario is
				maintained at month level in consolidated reports page.]
			</div>
			<div class="panel-body">
				<img src="images/publishResults.jpg" class="img-rounded"
					style="width: 100%; height: 400px;">
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>HOW TO VIEW CONSOLIDATED REPORTS</b> [This monthly report data
				can be used to track the product's improvement.]
			</div>
			<div class="panel-body">
				<img src="images/consolidatedReportView.jpg" class="img-rounded"
					style="width: 100%; height: 360px;">
			</div>
		</div>
	</div>
</div>